*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  html{
    background-color:#eee;
  }
  .container{
      
    margin: 20px auto;
    width:800px;
    height:700px;
    /* background-color:#fff; */
    display:grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px
}

.box-header, .box-score, .box-topLeft, .box-topRight, .box-bottomRight, .box-bottomLeft{
        background-color:#333;
        padding:20px;
        border-radius:10px;
        color:#fff;
        display:flex;
        align-items:center;
        justify-content:center;
        font-size:40px;
        font-family:sans-serif
      }
      /* .box-0, .box-topLeft, .box-topRight, .box-bottomRight, .box-bottomLeft{
        background-color:#333;
        padding:20px;
        border-radius:10px;
        color:#fff;
        display:flex;
        align-items:center;
        justify-content:center;
        font-size:40px;
        font-family:sans-serif
      }
   */
      /* html,body{
        width:100%;
        height:100%;
        margin:0px;}
        
        .pic{
        position:absolute;
        margin-left:100px;
        margin-top:100px;
        width:200px;
        height:200px;
        background-color:#ccc;
        }
   */